<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/home/index::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="wishlist-area d-none d-md-block">
       <div class="container-wrapper extra-padding-15">
           <div class="row pb-100">
               <div class=" col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                   <table class="cart_table">
                       <thead>
                       <tr>
                           <th></th>
                           <th></th>
                           <th>Product name </th>
                           <th>Unit price</th>
                           <th>Stock status</th>
                           <th></th>
                       </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="item in list.items" class="max-width-set">
                           	   <td class="width-set"><a ng-click="list.remove(item.id)" href="javascript:void(0)">
                           	   <i class="fal fa-times-circle"></i></a></td>
                               <td style="width: 10%;"><a href="#" class="p-img"><img th:src="@{|/assets/img/product/{{item.hinhAnh}}|}" alt=""></a></td>
                               <td><a href="#" class="p-name black-color">{{item.tenSP}}</a></td>
                               <td><a href="#" class="p-price black-color">${{item.giamGia|number:0}}</a></td>
                               <td><a href="#" class="p-stock-status">{{item.trangThai?'Còn hàng':'Hết Hàng'}}</a></td>
                               <td><a th:attr="ng-click= @{|cart.add(item.id)|}">Add to cart</a></td>
                           </tr>
                       </tbody>
                   </table>
               </div><!-- /col -->
               <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="cart__acount">
                        <h5>Sản phẩm trong giỏ</h5>
                      <table style="background-color: white;">
                          <tr ng-repeat="item in cart.items">
                     		  <td class="width-set"><a ng-click="cart.remove(item.id)" href="javascript:void(0)">
                           	  <i class="fal fa-times-circle"></i></a></td>
                              <td><img th:src="@{|/assets/img/product/{{item.hinhAnh}}|}" alt=""></td>
                              <td>{{item.tenSP}}</td>
                          </tr>
                      </table>
                    </div>
                </div>
           </div><!-- /row -->
           <div class="bottom-line"></div>
       </div><!-- /container -->
   </div>
</body>
</html>